.App {
  text-align: center;
}

.App-header {
  background-color: #333842;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.container {
  width: 400px;
  height:600px;
  background-color: grey;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  overflow: hidden;
  box-sizing: border-box;
  box-shadow: 0px 0px 10px rgb(255, 255, 255);

}


.myTask {
  display: flex;
  align-items: center;
    button{height: 2rem;
            margin-left: 1rem;
            
    }
}

.list {
  
  display: flex;
  flex-direction: column;
 
  align-items: center;
  overflow: auto;
}


